<div class="container-fluid">
	<div class="row">
	
		<div class="col-md-12">
              
    <div class=" align-items-center p-3 my-3  ligth-blue  rounded shadow-sm">
      
      <div class="lh-1 title-backoffice">
        <h3 class="h4 mb-0  lh-1">{{action}}</h3>          
      </div>
    </div>       
        <form
          [formGroup]="categoriesForm"
          class="needs-validation"
          novalidate
        >

        <div class="row mb-4 ">
          <div class="col-md-4 offset-md-4">
            <label for="name" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Ingrese aquí el nombre de la categoría"
              formControlName="name"
              required
            >
            <div
              appMsgErrorForm
              messageError="Este campo es requerido"
              [valido]="haveErrorsInputForm('name','required')"
            ></div>
          </div>
        </div>
     
          
        <div class="row mb-4 ">
          <div class="col-md-4 offset-md-4">
            <input formControlName="image" type="file" accept="image/*" (change)="handleInputChange($event)" />
            <img [src]="imageSrc" style="max-width:150px;max-height:150px"/>
            <div
              appMsgErrorForm
              messageError="Este campo es requerido"
              [valido]="haveErrorsInputForm('image','required')"
            ></div>
          </div>
        </div>

        <div class="row mb-4 ">
          <div class="col-md-4 offset-md-4">
            <label for="description" class="form-label">Description</label>
            <app-ckeditor></app-ckeditor>
            <!-- <div
              appMsgErrorForm
              messageError="Este campo es requerido"
              [valido]="description"
            ></div> -->
          </div>
        </div>
          
        <div class="row mb-4 ">
          <div class="col-md-4 offset-md-4">
        <button
            type="submit"
            class="btn btn-primary"
            (click)="onSubmit()"
          >Enviar</button>
        </div>
      </div>
        </form>
      </div>
    