
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Menu1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
             Menu2
            </a>
          </li>
          
        </ul>
                    
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          
        </div>




      </div>  
      
      
<div cl>
      <form [formGroup]="form" class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email"  id="email" >
            <div appMsgErrorForm  messageError="Ingrese un email válido"  [valido]="haveErrorsInputForm('email','email')" ></div>
            <div appMsgErrorForm  messageError="Este campo es requerido"  [valido]="haveErrorsInputForm('email','required')" ></div>
          </div>
          
                                                                                                                                  
        </div>
      
        <hr class="my-4">
                                                                                
        <button  (click)="save()" type="button" class="w-100 btn btn-primary btn-lg" >Registrarme</button>
      
       
      </form>
    </div>

    </main>
  </div>
</div>














