




<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-10">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Panel</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>
      </div>
      <div class="m-4">
       

        <form [formGroup]="form" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="firstName" class="form-label">Email</label>
              <input formControlName="email" type="text" class="form-control" id="email"  id="email" >
              <div appMsgErrorForm  messageError="Ingrese un email válido"  [valido]="haveErrorsInputForm('email','email')" ></div>
              <div appMsgErrorForm  messageError="Este campo es requerido"  [valido]="haveErrorsInputForm('email','required')" ></div>
            </div>
            
                                                                                                                                    
          </div>
        
          <hr class="my-4">
                                                                                  
          <button  (click)="save()" type="button" class="w-100 btn btn-primary btn-lg" >Registrarme</button>
        
         
        </form>


      </div>

    </div>
  </div>
</div>


















