<div class="container">
  <div class="d-flex justify-content-center">
    <app-spinner
    color="primary"
    mode="indeterminate"
    *ngIf="!newsCompleted"
    ></app-spinner>
  </div>
    
    <div class="row my-5" *ngIf="newsCompleted">
  
      <div class="display-4 fst-italic text-center mb-5">
        Últimas novedades
      </div>
           
      <div class="col-md-3" *ngFor="let new of news">

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ new?.slug || 'General'}}</strong>
            <h3 class="mb-0">{{ new?.name }}</h3>
            <div class="mb-1 text-muted">{{ new?.created_at | date }}</div>
            <p class="card-text mb-auto" [innerHTML]="new?.content"></p>
            <a href="#" class="stretched-link">Continuar leyendo</a>
          </div>        
        </div>
        
      </div>
    </div>
</div>

