<div class="container-fluid mb-3 mb-4 mt-sm-3 ">
  <div class="row text-center"> 
    <div class=" text-center mb-5 title-section " *ngIf="isHome">
     <span> Últimas novedades</span>
    </div>
        <app-titles-component title="Novedades" image="" *ngIf="!isHome"></app-titles-component>
  </div>
</div>

<div class="d-flex justify-content-center">
  <app-spinner
  color="primary"
  mode="indeterminate"
  *ngIf="!newsCompleted"
  ></app-spinner>
</div>

<div class="container mt-4">

  <div class="row " *ngIf="newsCompleted ">
    <div class="col-md-3 text-left"  [ngClass]="{'mt-5': !isHome}" *ngFor="let new of news" >  
      <div class="activity row g-0 border  overflow-hidden flex-md-row mb-4 shadow p-3">
            <div class="">
          <strong class="title-section_news ">
            <span class="pt-1">
            {{ new?.slug || 'General'}}</span>
          </strong>
          <h3 class="mt-2">{{  new?.name }}</h3>
          <div class="mb-0 text-muted">{{ new?.created_at | date }}
            <span class="icon-calendar">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-calendar2-event" viewBox="0 0 16 16">
                <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
              </svg>
            </span>


          </div>
          <p class="card-text mb-auto pb-2" [innerHTML]="new?.content"></p>
          <a href="#" class="stretched-link pb-1">Continuar leyendo</a>
        </div>        
      </div>
    </div>        
  </div>


