<div class="container-fluid">
	<div class="row">
	
		<div class="col-md-12">
              
    <div class=" align-items-center p-3 my-3  ligth-blue  rounded shadow-sm">
      
      <div class="lh-1 title-backoffice">
        <h3 class="h4 mb-0  lh-1">{{action}}</h3>          
      </div>
    </div>       
        
          <form [formGroup]="form"  novalidate>
           
                <div class="row mb-4 ">
                  <div class="col-md-4 offset-md-4">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input formControlName="name" type="text" class="form-control" id="name" name="name">
                    <div appMsgErrorForm messageError="Este campo es requerido"
                      [valido]="haveErrorsInputForm('name','required')"></div>
                  </div>
                  <div appMsgErrorForm messageError="Este campo debe tener al menos 4 caracteres"
                      [valido]="haveErrorsInputForm('name','minlength')"></div>                  
                </div>

                <div class="row mb-4 ">
                    <div class="col-md-4 offset-md-4">
                      <label for="facebook" class="form-label">Facebook</label>
                      <input formControlName="facebookUrl" type="text" class="form-control" id="facebookUrl" name="facebookUrl">
                      <div appMsgErrorForm messageError="Este campo es requerido"
                        [valido]="haveErrorsInputForm('facebookUrl','required')"></div>
                        <div appMsgErrorForm messageError="Ingrese una url valida"
                        [valido]="haveErrorsInputForm('facebookUrl','pattern')"></div>
                    </div>
                  </div>

                  <div class="row mb-3 ">
                    <div class="col-md-4 offset-md-4">
                      <label for="firstlinkedinUrl" class="form-label">LinkedIn</label>
                      <input formControlName="linkedinUrl" type="text" class="form-control" id="linkedinUrl" name="linkedinUrl">
                      <div appMsgErrorForm messageError="Este campo es requerido"
                        [valido]="haveErrorsInputForm('linkedinUrl','required')"></div>
                        <div appMsgErrorForm messageError="Ingrese una url valida"
                        [valido]="haveErrorsInputForm('linkedinUrl','pattern')"></div>
                    </div>
                  </div>

  
                <div class="row mb-3 ">
                  <div class="col-md-4 offset-md-4">
                    <label for="firstName" class="form-label">Imagen</label>
  
                    <div class="text-center">                  
                      <img class="img-fluid mb-2" id="imagenUrl"  [src]="aMember.image">
                    </div>                              
                    <input formControlName="image" type="file" id="avatar" (change)="fileEvent($event)" #fileInput>
                    <input type="hidden" id="errorEnImagen" value="{{imageError}}">
                    <div class="text-error-form" *ngIf="imageError">La imagen debe ser formato jpg o png.</div>  
                    <div appMsgErrorForm messageError="Este campo es requerido"
                    [valido]="haveErrorsInputForm('image','required')"></div>
                  </div>               
                </div>
  
  
  
                <div class="row mb-3 ">
                  <div class="col-md-4 offset-md-4">
                    <label for="firstName" class="form-label">Descripción</label>
                    <app-ckeditor></app-ckeditor>                 
                  </div>
                </div>
  
  
  
                <div class="row ">
                  <div class="col-md-4 offset-md-4">
                    <button (click)="save()" [disabled]="sending" type="button"
                      class="w-100 btn btn-primary btn-lg">Guardar</button>
                  </div>
                </div>
                <div *ngIf="sending" class="row text-center">
                  <div class="col-md-4">
                    <img src="assets/images/ajax-loader.gif">
                  </div>
                </div>
              
  
          </form>
  

  
  