<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/backoffice/dashboard']">
                    <span data-feather="file"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/activity']">
                    <span data-feather="home"></span>
                    Actividades
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/member']">
                    <span data-feather="home"></span>
                    Miembros
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/slide']">
                    <span data-feather="home"></span>
                    Slide
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/organization']">
                    <span data-feather="home"></span>
                    Organizacion
                </a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/categoria']">
                    <span data-feather="home"></span>
                    Categorías
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/home']">
                    <span data-feather="home"></span>
                    Home
                </a>
            </li>
        </ul>
    </div>
</nav>