<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse menu-sidebar" style="display:none" >
    <div style="width: 100%;text-align: right;">
        <a (click)="sideBarToggle()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
          </a>
    </div>
    
    <div class="position-sticky pt-3" >
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/backoffice/dashboard']">
                    <span data-feather="file"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/activity']">
                    <span data-feather="home"></span>
                    Actividades
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/member']">
                    <span data-feather="home"></span>
                    Miembros
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/slides']">
                    <span data-feather="home"></span>
                    Slides
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/slide']">
                    <span data-feather="home"></span>
                    Slide
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/organization']">
                    <span data-feather="home"></span>
                    Organizacion
                </a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/categoria']">
                    <span data-feather="home"></span>
                    Categorías
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/home']">
                    <span data-feather="home"></span>
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/news']">
                    <span data-feather="home"></span>
                    Novedades
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/backoffice/users']">
                    <span data-feather="home"></span>
                    Usuarios
                </a>
            </li>
        </ul>
    </div>
</nav>