<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h2 class="offcanvas-title fs-2" id="offcanvasExampleLabel"> Menú </h2>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group">
        <a [routerLink]="['/backoffice/dashboard']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Dashboard</a>
        <a [routerLink]="['/backoffice/home']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Home</a>
        <a [routerLink]="['/backoffice/slides']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Slides</a>
        <a [routerLink]="['/backoffice/users']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Usuarios</a>
        <a [routerLink]="['/backoffice/categoria']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Categorías</a>
        <a [routerLink]="['/backoffice/members']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Miembros</a>
        <a [routerLink]="['/backoffice/activities']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Actividades</a>
        <a [routerLink]="['/backoffice/news']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Novedades</a>
        <a [routerLink]="['/backoffice/organization']" class="list-group-item list-group-item-action list-group-item-dark fs-5">Organización</a>
      </div>
    </div>
</div>