<div class="content-standar-dialog">
  <div>
    <span *ngIf="data.type=='error'" class="material-icons animate__animated animate__rubberBand icon-standar-dialog-error">
      error_outline
    </span>

    <span *ngIf="data.type=='success'" class="material-icons animate__animated animate__rubberBand icon-standar-dialog-success">      
        check_circle
    </span>


    <span *ngIf="data.type=='info'" class="material-icons animate__animated animate__rubberBand icon-standar-dialog-info">      
      info
    </span>

    <span *ngIf="data.type=='help'" class="material-icons animate__animated animate__rubberBand icon-standar-dialog-help">      
      help
    </span>

  </div>
  <div style="text-align: center;">
    {{data.titleToShow}}
  </div>

  <div mat-dialog-content>
    <h1 mat-dialog-title style="padding-top: 30px;text-align: center">{{data.messageToShow}}</h1>
  </div>


  <div class="example-button-row" *ngIf="data.showButtonsOkCancel">
    <button (click)="closeDialog('ok')" mat-stroked-button style="margin-right: 5px;margin-top: 5px;">Aceptar</button>
    <button (click)="closeDialog('')" mat-stroked-button>Cancelar</button>
  </div>

</div>