.content-standar-dialog { text-align: center; }
.icon-standar-dialog-error { color:#F26464; font-size:48px }
.icon-standar-dialog-help { color:#F26464; font-size:48px }
.icon-standar-dialog-success { color:#0DB474; font-size:48px }
.icon-standar-dialog-info { color:#3956f7; font-size:48px }