.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

// .card-body:hover{
//     background-color: #b95b5b;
//     padding: 0.5rem;
// }

.card-text{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

