ul{
    li{
        padding: 5px;
    }

    a{
         text-decoration: none;
         color: gray;
         font-size: 1rem;
    }
    a:hover{
        color: #ef233c;
    }

    li{
        list-style: none;
    }

}

.footer{
    
    padding-top: 0px;
    background-color: #e2f2f4;
    padding: 20px;
    p{  font-size: 1.3rem;
        color: black
    }
    img{
        padding-top: 30px;
    }

    margin-top:50px;
}

span{
    display: block
}