<div class="container">
  
  <h2 class="text-center my-5">{{ title | uppercase }}</h2>
  
  <form
    [formGroup]="form"
    class="needs-validation"
    novalidate
    (ngSubmit)="onSubmit()"
  >

    <div class="mb-3 position-relative">
      <label for="name" class="form-label">Nombre</label>
      <input
        [ngClass]="{
          'is-valid': form.get('name')?.touched && form.get('name')?.valid,
          'is-invalid': form.get('name')?.touched && form.get('name')?.invalid
        }"
        type="text"
        class="form-control"
        id="name"
        placeholder="Ingrese aquí su nombre"
        formControlName="name"
        required
      >
      <div appMsgErrorForm messageError="Este campo es requerido"
        [valido]="haveErrorsInputForm('name','required')">
      </div>
    </div>
    
    <div class="mb-3 position-relative">
      <label for="email" class="form-label">Email</label>
      <input
        [ngClass]="{
          'is-valid': form.get('email')?.touched && form.get('email')?.valid,
          'is-invalid': form.get('email')?.touched && form.get('email')?.invalid
        }"
        type="email"
        class="form-control"
        id="email"
        placeholder="Ingrese aquí su email"
        formControlName="email"
        required
      >
      <div appMsgErrorForm messageError="Este campo es requerido"
        [valido]="haveErrorsInputForm('email','required')">
      </div>
      <div appMsgErrorForm messageError="Proporcione un email válido"
        [valido]="haveErrorsInputForm('email','email')">
      </div>
    </div>
    
    <!-- Contact Form Additions -->
    <div formArrayName="otherFields" *ngIf="isContactForm">
      <div *ngFor="let otherField of otherFields.controls; let i = index" [formGroupName]="i">
        <div class="mb-3 position-relative">
          <label for="phone" class="form-label">Teléfono</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            placeholder="Ingrese aquí su número telefónico"
            formControlName="phone"
            required
          >
        </div>
        
        <div class="mb-3 position-relative">
          <label for="message" class="form-label">Mensaje</label>
          <app-ckeditor></app-ckeditor>
          <!-- <textarea
            class="form-control"
            id="message"
            rows="3"
            formControlName="message"
            required
          ></textarea> -->
        </div>
      </div>
    </div>
    <!-- End Contact Form Aditions -->
    
    <!-- User Form Additions -->
    <div formArrayName="otherFields" *ngIf="isCreateUserForm">
      <div *ngFor="let otherField of otherFields.controls; let i = index" [formGroupName]="i">
        <div class="mb-3 position-relative">
          <label for="role" class="form-label">Rol</label>
          <select formControlName="role">
            <option value="">Seleccionar...</option>
            <option value="admin">Administrador</option>
            <option value="regular">Regular</option>
          </select>
        </div>
        
        <div class="mb-3 position-relative">
          <label for="profilePhoto" class="form-label">Foto perfil</label>
          <input type="file" formControlName="profilePhoto" />
        </div>
      </div>
    </div>
    <!-- End User Form Aditions -->

    <button
      type="submit"
      class="btn btn-primary"
    >Enviar</button>

  </form>
</div>