
    
  <form
    [formGroup]="contactForm"
    class="needs-validation"
    novalidate
    (ngSubmit)="onSubmit()"
  >

    <div class="mb-3 position-relative">
      <label for="name" class="form-label">Nombre</label>
      <input
        [ngClass]="{
          'is-valid': contactForm.get('name')?.touched && contactForm.get('name')?.valid,
          'is-invalid': contactForm.get('name')?.touched && contactForm.get('name')?.invalid
        }"
        type="text"
        class="form-control"
        id="name"
        placeholder="Ingrese aquí su nombre"
        formControlName="name"
        required
      >
      <div appMsgErrorForm messageError="Este campo es requerido"
        [valido]="haveErrorsInputForm('name','required')">
      </div>
    </div>
    
    <div class="mb-3 position-relative">
      <label for="email" class="form-label">Email</label>
      <input
        [ngClass]="{
          'is-valid': contactForm.get('email')?.touched && contactForm.get('email')?.valid,
          'is-invalid': contactForm.get('email')?.touched && contactForm.get('email')?.invalid
        }"
        type="email"
        class="form-control"
        id="email"
        placeholder="Ingrese aquí su email"
        formControlName="email"
        required
      >
      <div appMsgErrorForm messageError="Este campo es requerido"
        [valido]="haveErrorsInputForm('email','required')">
      </div>
      <div appMsgErrorForm messageError="Proporcione un email válido"
        [valido]="haveErrorsInputForm('email','email')">
      </div>
    </div>
    
    <div class="mb-3 position-relative">
      <label for="phone" class="form-label">Teléfono</label>
      <input
        [ngClass]="{
          'is-valid': contactForm.get('phone')?.touched && contactForm.get('phone')?.valid,
          'is-invalid': contactForm.get('phone')?.touched && contactForm.get('phone')?.invalid
        }"
        type="text"
        class="form-control"
        id="phone"
        placeholder="Ingrese aquí su número telefónico"
        formControlName="phone"
        required
      >
      <div appMsgErrorForm messageError="Este campo es requerido"
        [valido]="haveErrorsInputForm('phone','required')">
      </div>
      <div appMsgErrorForm messageError="Sólo se admiten números"
        [valido]="haveErrorsInputForm('phone','pattern')">
      </div>
      <div appMsgErrorForm messageError="Ingrese un número telefónico válido (mínimo 8 dígitos)"
        [valido]="haveErrorsInputForm('phone','minLength')">
      </div>
    </div>
    
    <div class="mb-3 position-relative">
      <label for="message" class="form-label">Mensaje</label>
      <textarea
        [ngClass]="{
          'is-valid': contactForm.get('mensaje')?.touched && contactForm.get('message')?.valid,
          'is-invalid': contactForm.get('message')?.touched && contactForm.get('message')?.invalid
        }"
        class="form-control"
        id="message"
        rows="3"
        formControlName="message"
        required
      ></textarea>
      <div appMsgErrorForm messageError="Este campo es requerido"
        [valido]="haveErrorsInputForm('message','required')">
      </div>
    </div>
    
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="contactForm.invalid"
    >Enviar</button>

  </form>
