// #EDF2F4

.bg-campaign{
    background-color: #EDF2F4;   
    
}

.bg-img1{
    background-color: #2B2D42;
}

.bg-img2{
    background-color: #2B2D42;  
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    #countdown {
        display: none;
    }

    .bg-img1 {
        display: none;
    }

    .bg-img2 {
        display: none;
    }
}





