img {
    width: 45%;
}

// X-Small devices (landscape phones, 576px and up)
@media (min-width: 360px) { 
    .img-hide {
        display: none;
    }

    .hide-content {
        display: none;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .img-hide {
        display: none;
    }

    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .hide-content {
        display: block;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .img-hide {
        display: block;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .bg-content{
        background-color: #EDF2F4;
    }
}





