<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <app-titles-component
            [title]="title"
            ></app-titles-component>
        </div>
        <div class="col-12 col-md-12">
           
            <!-- title -->
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <h2> Sobre Nosotros </h2>
                </div>                    
            </div>
            <!-- description -->
            <div class="d-flex justify-content-center">
                <div class="d-flex align-items-center">
                    <p class="text-center">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Dolorem at maiores libero nobis minus natus, non voluptatibus animi quasi sunt ratione similique a! 
                        Sequi reiciendis molestiae nam! Deserunt, animi rerum.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Dolorem at maiores libero nobis minus natus, non voluptatibus animi quasi sunt ratione similique a! 
                        Sequi reiciendis molestiae nam! Deserunt, animi rerum.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
