<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <!-- title component -->
            <div class="bg-img">

                <span>nosotros</span>

            </div>
            <!-- <app-titles-component
                
                [title]="title"
                [image]="imgUrl"
            ></app-titles-component> -->
            

        </div>
        <div class="col-12 col-md-12">
            <!-- about us component -->
            
            <div class="d-flex justify-content-center mt-2">
                <div class="d-flex align-items-center">
                    <p class="text-center">
                        {{ us }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
