<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            
            <app-titles-component [title]="title" [image]="imgUrl"></app-titles-component>
            

        </div>
        <div class="col-12 col-md-12">

                       
            <div class="d-flex justify-content-center mt-5">
                <div class="d-flex align-items-center">
                    <p class="text-center fs-3">
                        {{ us }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- <div class="container">

    <app-titles-component [title]="title" [image]="imgUrl"></app-titles-component>
</div> -->