<div class="container">

  <div class="row mb-2">
          
    <div class="display-4 fst-italic text-center mb-5" *ngIf="isHome">
        Testimonios
    </div>

    <app-titles-component title="Testimonios" image="" *ngIf="!isHome"></app-titles-component>
    
    
    <div class="col-md-3" [ngClass]="{'mt-5': !isHome}" *ngFor="let testimonial of testimonials">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ testimonial?.name }}</h3>
          <div class="mb-1 text-muted">{{ testimonial?.updated_at | date }}</div>
          <p class="card-text mb-auto" [innerHTML]="testimonial?.description"></p>
          <a href="#" class="stretched-link">Continuar leyendo</a>
        </div>        
      </div>
    </div>


  </div>
</div>
