<div class="container-fluid mb-3 mb-4 mt-sm-3 ">
  <div class="row text-center"> 
    <div class=" text-center mb-5 title-section " *ngIf="isHome">
     <span> Últimos testimonios</span>
    </div>
        <app-titles-component title="Testimonios" image="" *ngIf="!isHome"></app-titles-component>
  </div>
</div>

<div class="d-flex justify-content-center">
  <app-spinner color="primary" mode="indeterminate" *ngIf="!testimonialsCompleted"></app-spinner>
</div>

<div class="container mt-4">

  <div class="row " *ngIf="testimonialsCompleted ">

    <div class="col-md-3 mt-3 p-1" [ngClass]="{'mt-5': !isHome}" *ngFor="let testimonial of testimonials">

      <div class="row g-0 border  overflow-hidden flex-md-row  shadow   position-relative">
        <div class="col-md-12 text-center mt-3">
          <img  alt="" src="http://ongapi.alkemy.org/storage/Mb7qJKMAWA.jpeg"
            class="rounded-circle img-testimonial" />

        </div>

        <div class="col-md-12 text-center mt-2 mb-2 ">
          <span class="name-testimonial">{{testimonial.name}}</span>
        </div>
        <hr>
        <div class="col-md-12 text-center mt-2 pb-3 body-testimonial">
          <span innerHTML="{{testimonial.description}}"></span>
        </div>
        <div class="col-md-12 text-center mt-2 pb-3 body-testimonial icon-calendar">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
        </svg>
      </div>

      </div>


    </div>




  </div>