<div class="container-fluid mb-3 mb-4 mt-sm-3 ">
  <div class="row text-center"> 
    <div class=" text-center mb-5 title-section " *ngIf="isHome">
     <span> Últimos testimonios</span>
    </div>
        <app-titles-component title="Testimonios" image="" *ngIf="!isHome"></app-titles-component>
  </div>
</div>

<div class="d-flex justify-content-center">
  <app-spinner color="primary" mode="indeterminate" *ngIf="!testimonialsCompleted"></app-spinner>
</div>

<div class="container mt-4">

  <div class="row " *ngIf="testimonialsCompleted ">

    <div class="col-md-3 mt-3 p-1" [ngClass]="{'mt-5': !isHome}" *ngFor="let testimonial of testimonials">

      <div class="row g-0 border  overflow-hidden flex-md-row  shadow   position-relative">
        <div class="col-md-12 text-center mt-2">
          <img style="width:60px;" alt="" src="http://ongapi.alkemy.org/storage/Mb7qJKMAWA.jpeg"
            class="rounded-circle" />

        </div>

        <div class="col-md-12 text-center mt-2 mb-2">
          <span>{{testimonial.name}}</span>
        </div>
        <hr>
        <div class="col-md-12 text-center mt-2 pb-3 body-testimonial">
          <span innerHTML="{{testimonial.description}}"></span>
        </div>

      </div>


    </div>




  </div>