.body-testimonial{
    line-height : 25px;
}

.name-testimonial{
    font-weight: 500;
    font-size:18px
}

.icon-calendar{
    margin:2px;
    color:#EF233C;
  }
  .img-testimonial{
    border:2px solid #EF233C;    
    width:80px;
  }
