<div class="row mt-5 pt-5">
  <div class="col-md-3 col-sm-12 col-xs-12 text-center mt-2"> 
    <img src="assets/images/campania-escuela.png" class="img-fluid" alt="Campaña escuela">
  </div>
   <div class="col-md-6 align-self-center text-center d-none d-md-block">
    <div class=" text-center mb-5 title-section " >
      <span> Juntos en la vuelta al cole</span>
     </div>
  </div>  
  <div class="col-md-3  d-none d-sm-block  ">
    <img src="assets/images/logo-somos-mas.png" class="img-fluid" alt="Somos más">
  </div> 
</div>