<div class="container">
  <div class="row mb-2">

    <app-titles-component title="Donaciones" image="" class="mb-5"></app-titles-component>

    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          {{ message }}
        </h2>
      </div>
    </div>

    <div class="col-md-3">
      <form [formGroup]="form">
        <div class="input-group mb-3">
            <input class="form-control form-control-lg customBorder" currencyMask formControlName="value" />
            <button type="button" class="btn btn-primary btn-large" (click)="donate()">Donar</button>
            <span
              appMsgErrorForm
              messageError="Por favor, ingrese una cantidad"
              *ngIf="emptyValue"
            ></span>
        </div>
      </form>
    </div>


  </div>

</div>