<div class="container">
  <div class="row mb-2">

    <app-titles-component title="Donaciones" image="" class="mb-5"></app-titles-component>

    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          Donaciones!
        </h2>
        <p>
          Su donación es muy importante para nosotros.
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <form [formGroup]="form">
        <div class="jumbotron">
          <p>
            <input class="form-control" currencyMask formControlName="value" />
          </p>
          <p>
            <a class="btn btn-primary btn-large" href="#">Donar</a>
          </p>
        </div>
      </form>
    </div>


  </div>
  <div *ngIf="showThanks" class="row mb-2">
    <app-thanks [text]="'Gracias por su donación'"></app-thanks>
  </div>

</div>