<div class="container" >


    <div class="row" >

        <app-titles-component title="Contácto" image="" class="mb-5"></app-titles-component>
    </div>
    <div class="row contact-container contact-container"   >
        <div class="col-md-5 animate__animated animate__fadeInLeft pt-5"  >
            <app-contact-form></app-contact-form>
        </div>       
        <div class="col-md-7 animate__animated animate__fadeInRight " >
            <div class="row">
                <div class="col-md-12 text-center">
                    
                        <span class="bajorrelieve">Vení a conocernos, los chicos<br> te estan esperando
                        </span>
                </div>
            </div>

            <div class="row " style="height:90%">
                <app-leaflet-map></app-leaflet-map>
            </div>

           
        </div>
    </div>


</div>
<!-- <app-contact-form></app-contact-form> -->