.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 0px solid white;
    height: 100%;
  }
  
  #map {
    height: 90%;
  }

  .contact-container{
    margin-bottom: 140px;
  }
  .bajorrelieve {
    
    font-size: 40px;
    
    background: #8D99AF;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(63, 58, 58, 0.5),0px -1px 1px rgba(0,0,0,.3);
    line-height : 45px;



    }