<div class="container">
    
  
    <div class="row  " >
  
      <app-titles-component title="Contácto" image="" class="mb-5"></app-titles-component>
    </div>
    <div class="row " >   
        <div class="col-md-6">
            <app-contact-form></app-contact-form>
            </div>
            <div class="col-md-6">
                <app-leaflet-map></app-leaflet-map>               
            </div>
    
       
    
    </div>
  

</div>

  


<!-- <app-contact-form></app-contact-form> -->