<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 mt-5">
            <h1>Lista de Usuarios</h1>
            <hr>

            <form [formGroup]="searchForm" autocomplete="off">
                <div class="input-group mb-3">
                    <input 
                    type="text"   
                    class="form-control" 
                    placeholder="Ingresar nombre" 
                    aria-label="Ingresar nombre" 
                    aria-describedby="button-addon2"
                    formControlName="searchUser">
                    <button class="btn btn-outline-danger" type="button" (click)="search()">Buscar</button>                    
                </div>
                <div appMsgErrorForm messageError="Este campo es requerido"
                    [valido]="haveErrorsInputForm('searchUser','required')"></div>
                    
                    <div appMsgErrorForm messageError="Mínimo dos caracteres"
                    [valido]="haveErrorsInputForm('searchUser','minLength')"></div>
            </form>
            
        </div>

        

        <div class="col-12 col-md-12 mt-3">
            <div class="card  mb-2">
                <div class="table-responsive p-4">
                    <table class="table table-striped table-hover caption-top table-bordered">
                        <caption>
                            <a routerLink="/backoffice/users/create">Crear Usuario</a>
                        </caption>
                        <thead>
                            <tr>
                                <th scope="col">n°</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
        
                        <tbody>
                            <tr *ngFor="let user of userList$ | async; let i = index;">
                                <th scope="row"> {{i+1}} </th>
                                <td> {{user.name}} </td>
                                <td> {{user.email}} </td>
                               <td>
                                      <div class="i-container">
                                        <i class="fas fa-user-edit fa-lg text-primary m-2" (click)="editUser(user.id)"></i>
                                        <i class="far fa-trash-alt fa-lg text-danger m-2" (click)="deleteUser(user.id)"></i>
                                    </div>
                                </td>       
                            </tr>
                        </tbody>
                    </table>
                    <!-- skeleton loader -->
                    <app-skeleton [count]="totalCount" [loader]="loader"></app-skeleton>
                </div>
            </div>
        </div>
        
    </div>
</div>
