
<div class="container-fluid mb-3 mb-4 mt-sm-3 ">
  <div class="row">
    <div class="col-md-12 mt-5 ">
      <app-titles-component title="Actividades" image=""></app-titles-component>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <app-spinner
  color="primary"
  mode="indeterminate"
  *ngIf="!activitiesCompleted"
  ></app-spinner>
</div>

<div class="container mt-4">
  <div class=" row activity-search m-4">
    <div class="col-md-6 offset-md-3">
    <div class="f-search">      
      <div class="sidebar-item search-form pb-4">
        <form action=""  [formGroup]="form"  >
          <input type="text"  formControlName="search_activity" id="search_activity" name="search_activity">
          <button >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></button>
        </form>
      </div><!-- End sidebar search formn-->
     
    </div>
     

  </div>

  <div class="row " *ngIf="activitiesCompleted && !activitiesError">
    <div class="col-md-4 text-center " *ngFor="let activity of activities; let i = index">
      <div>
        <div class="text-right animate__animated animate__zoomIn animate__slower">
        

          <div 
          class="activity row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          (click)="activityDetail(activity.id)"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ activity?.slug || 'General'}}</strong>
            <h3 class="mb-0">{{ activity?.name }}</h3>
            <div class="mb-1 text-muted">{{ activity?.created_at | date }}</div>
            <p class="card-text mb-auto" [innerHTML]="activity?.description"></p>
            <img [src]="activity?.image" [alt]="i" class="activity_image">
          </div>        
        </div>
        
        
        
        
        </div>
      
      
      
      </div>
    </div>
  </div>
