




 <div class="row" >
  <div class="col-md-12">  
      <div id="padre">
        <img src="../assets/images/fondo3.png" class="img-fluid"  >  
        <div id="uno">ccxxxxxxxxxxxxxxx</div>
      </div> 
      
      
      <div class="row" >
          
         
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

       
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>


      </div>




      </div>

      <!-- <div class="col-md-12 " style="background-color:red"  >  -->


       
        
        <!-- <div style="margin:0px;padding:0px">

        <app-news-form></app-news-form>

      </div>  -->
        <!-- <div class="row" style="width:100%">
          <div class="col-md-3">aaaaaaaa
          </div>
          <div class="col-md-3">11111111
          </div>
          <div class="col-md-3">111111112121
          </div>
          <div class="col-md-3">11111111111ws
          </div>

        </div> -->
   
        <!-- <app-news-form></app-news-form>  -->
    
      

        <!-- <div class="col-md-12">  
   
          <app-testimonial-form></app-testimonial-form>
      
          </div> -->

 






<!-- <div class="row">
  <div class="col-md-12">  
    <div id="padre">
      <img src="../assets/images/fondo3.png" class="img-fluid" >  
      <div id="uno">ccxxxxxxxxxxxxxxx</div>
    </div>       
    </div>
</div>     -->

<!-- <div class="container" style="width:100%">      
  <div class="row">
      <div class="col-md-12">  
        <div id="padre">
          <img src="../assets/images/fondo3.png" class="img-fluid" >  
          <div id="uno">ccxxxxxxxxxxxxxxx</div>
        </div>       
        </div>
  </div>    
</div> -->

<!-- <app-news-form></app-news-form> 

  <app-testimonial-form></app-testimonial-form> -->
<!-- <div>
<div id="padre">
  <img src="../assets/images/fondo3.png" class="img-fluid" >  
  <div id="uno">ccxxxxxxxxxxxxxxx</div>
</div>

</div>
<div>
<app-news-form></app-news-form> 
<app-testimonial-form></app-testimonial-form>
</div> -->


<!-- <main class="" >      
    <div class="  mb-4 text-white rounded  mt-5" id="cuadrado1"  >
      <img src="../assets/images/fondo3.png" class="img-fluid" >  
      
      
      <div id="cuadrado2"  style="background:blue;
   
      position:absolute;left: 0;right: 0 "
      
      >sssssss sssssssssssssssssssssssssasdasdasd as</div>
         


    </div>


 
    <app-news-form></app-news-form>  
    
    <app-testimonial-form></app-testimonial-form>
</main> -->
