            
<div class="container-fluid mb-3 mb-4 mt-sm-3 "     >
    <div class="row">
        <div class="col-md-12 mt-5 pt-5">  
          <div id="img-header-big-presentation">
            <img src="../assets/images/fondo3.png" class="img-fluid" >  
            <div id="text-header-big-presentation" class="d-none d-sm-none d-md-block animate__animated animate__fadeInUp">
            <p class="title-text-float-header">
              Bienvenido a Somos Mas: La Cava
            </p>
            <p class="body-text-float-header">
              Mejorar la calidad de vida de niños y familias en situación de vulnerabilidad en el barrio La Cava, otorgando un cambio de rumbo en cada individuo a través de la educación, salud, trabajo, deporte, responsabilidad y compromiso.
            </p>
            </div>
          </div>       
          </div>
      </div>   
    </div>  

  
    <div class="container "  >
    <app-news-form></app-news-form>
    </div>

    <div class="container" >
      <app-testimonial-form></app-testimonial-form>
      </div>
