
     


       

<div class="container-fluid mb-3 mb-4 mt-sm-3 "     >
    <div class="row">
        <div class="col-md-12">  
          <div id="img-header-big-presentation">
            <img src="../assets/images/fondo3.png" class="img-fluid" >  
            <div id="text-header-big-presentation" class="d-none d-sm-none d-md-block animate__animated animate__fadeInUp">
            <p class="title-text-float-header">
              En Somos Más
            </p>
            <p class="body-text-float-header">
              en Somos Más trabajamos con los chicos y chicas, mamás y papás, abuelos y vecinos del barrio 
              La Cava generando procesos de crecimiento y de inserción social. Uniendo las manos de todas las familias, 
              las que viven en el barrio y las que viven fuera de él.
            </p>
            </div>
          </div>       
          </div>
      </div>   
    </div>  

    <div class="container "  >
    <app-news-form></app-news-form>
    </div>


    <div class="container" >
      <app-testimonial-form></app-testimonial-form>
      </div>

        <!-- <div style="margin:0px;padding:0px">

        <app-news-form></app-news-form>

      </div>  -->
        <!-- <div class="row" style="width:100%">
          <div class="col-md-3">aaaaaaaa
          </div>
          <div class="col-md-3">11111111
          </div>
          <div class="col-md-3">111111112121
          </div>
          <div class="col-md-3">11111111111ws
          </div>

        </div> -->
   
        <!-- <app-news-form></app-news-form>  -->
    
      

        <!-- <div class="col-md-12">  
   
          <app-testimonial-form></app-testimonial-form>
      
          </div>

 






<!-- <div class="row">
  <div class="col-md-12">  
    <div id="padre">
      <img src="../assets/images/fondo3.png" class="img-fluid" >  
      <div id="uno">ccxxxxxxxxxxxxxxx</div>
    </div>       
    </div>
</div>     -->

<!-- <div class="container" style="width:100%">      
  <div class="row">
      <div class="col-md-12">  
        <div id="padre">
          <img src="../assets/images/fondo3.png" class="img-fluid" >  
          <div id="uno">ccxxxxxxxxxxxxxxx</div>
        </div>       
        </div>
  </div>    
</div> -->

<!-- <app-news-form></app-news-form> 

  <app-testimonial-form></app-testimonial-form> -->
<!-- <div>
<div id="padre">
  <img src="../assets/images/fondo3.png" class="img-fluid" >  
  <div id="uno">ccxxxxxxxxxxxxxxx</div>
</div>

</div>
<div>
<app-news-form></app-news-form> 
<app-testimonial-form></app-testimonial-form>
</div> -->


<!-- <main class="" >      
    <div class="  mb-4 text-white rounded  mt-5" id="cuadrado1"  >
      <img src="../assets/images/fondo3.png" class="img-fluid" >  
      
      
      <div id="cuadrado2"  style="background:blue;
   
      position:absolute;left: 0;right: 0 "
      
      >sssssss sssssssssssssssssssssssssasdasdasd as</div>
         


    </div>


 
    <app-news-form></app-news-form>  
    
    <app-testimonial-form></app-testimonial-form>
</main> -->
