
 <div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">

    <form [formGroup]="form" class="needs-validation cardStyles m-5 p-3 text-center" novalidate>
      <img src="../../../../../../assets/images/LOGO-SOMOS.png" alt="">
        <h2>REGISTRATE</h2>
      <div class="row g-3">
        <div class="col-sm-12">
          <label for="firstName" class="form-label">Email</label>
          <input formControlName="email" type="text" class="form-control"   id="email" >
          <div appMsgErrorForm  messageError="Ingrese un email válido"  [valido]="haveErrorsInputForm('email','email')" ></div>
          <div appMsgErrorForm  messageError="Este campo es requerido"  [valido]="haveErrorsInputForm('email','required')" ></div>
        </div>
      
        <div class="col-sm-12">
          <label for="firstName" class="form-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control"  id="password"  >
          <div appMsgErrorForm  messageError="La contraseña debe contener al menos un número, una letra y un símbolo (por ejemplo: @#$%)"  [valido]="haveErrorsInputForm('password','pattern')" ></div>
          <div appMsgErrorForm  messageError="Este campo es requerido"  [valido]="haveErrorsInputForm('password','required')" ></div>        
        </div>


        <div class="col-sm-12">
          <label for="firstName" class="form-label">Repetir Contraseña</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="title"  id="name"  >
          <div appMsgErrorForm  messageError="Este campo es requerido"  [valido]="haveErrorsInputForm('confirmPassword','required')" ></div>        
          <div class="text-error-form" *ngIf="passwordsAreEqualValue">La contraseñas no coiniciden</div>
        </div>

        <div class="col-sm-12">
          <label for="firstName" class="form-label">Direccion</label>
        <div class="input-group-append ">
          <select formControlName="direction" class="form-control"   id="direction">
            <option disabled="disabled">Elige tu Direccion</option>
            <option  *ngFor="let country of countries" value="{{country.latlng}}">{{country.name.common}}</option>
          </select>
          <button style="margin: 12px; display: inline;" (click)="addDirection()" class="btn btn-success">Añadir Direccion</button>
          <p style="color: red;" *ngIf="errorDirection">Debe Colocar una Direccion</p>
        </div>
        
          <button  style="margin: 12px; " (click)="position()" class="btn btn-success">Añadir Direccion en Tiempo Real</button> 
         <agm-map *ngIf="map" [latitude]="lat" [longitude]="lng" [zoom]="4"> 
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
         </agm-map>
        </div>
        
                                                                                                                                
      </div>

      <hr class="my-4">
                                                                              
      <button  (click)="save()" type="button" class="w-100 btn btn-primary btn-lg" >Registrarme</button>

   
    </form>
   </div>
  </div>
 </div>
  
